body {
    background-color: lightblue; /*this is a comment*/
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

p.dotted {
    border-style: dotted;
}

.center{
 /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; */
  text-align: center;

}

